#heart { 
  position: relative; 
  width: 100px; 
  height: 90px; 
} 

#heart:before, #heart:after { 
  position: absolute; 
  content: ""; 
  left: 50px; 
  top: 0; 
  width: 50px; 
  height: 80px; 
  background: red; 
  border-radius: 50px 50px 0 0; 
  transform: rotate(-45deg); 
  transform-origin: 0 100%; 
} 

#heart:after { 
  left: 0; 
  transform: rotate(45deg); 
  transform-origin :100% 100%; 
}

.heart-container {
  display: flex;
  justify-content: center;
}

.question {
  font-family: cursive;
  font-weight: 900;
  font-size: 2.5em;
}

.answerInput {
  border-radius: 50px;
  height: 20px;
}

.quote {
  font-size: 1.5em;
}

.albumImage {
  border-radius: 30px;
  animation-name: imageTransition;
  animation-iteration-count: 1;
  animation-duration: 1s;
  aspect-ratio: 1/1;
  height: 270px;
}

.albumImageContainer {
  display: flex;
  justify-content: center;
  aspect-ratio: 1/1;
  height: 270px;
  margin-left: auto;
  margin-right: auto;
}

@keyframes imageTransition
{
  from{
    height: 0px;
  }
  to{
    height: 270px;
  }
}

.loading {
  color:white;
  animation-duration: 2s;
  animation-name: colorChange;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes colorChange {
  from {
      color: white
  }
  to {
      color: black;
  }
}